<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>登入</title>
</head>
<body style="background: #00c5c3">
    <form style="margin-top: 10%;width: 70%;margin-left: 15%;background: rgba(250,250,210,0.9);padding: 20px;border-radius: 13px" action="/admin/adminRecommend" method="post">
        <div class="form-group">
            <p >管理员登入</p>
            <label for="exampleInputEmail1">用户名</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="phone" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;margin-left: 40%">登陆</button>
        </div>
    </form>
</body>
</html>