<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/x-icon" href="img/ari-logo.png"/>

<head>
    <meta charset="UTF-8">
    <title>时间轴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<style>
    .specialist-tag{margin-left: 10%;width: 80%;background: lightgoldenrodyellow;border-radius: 12px;padding: 10px}
</style>
<!--推荐历史(时间轴)-->
<div class="main-context">
    <!--时间轴-->
    <div style="width: 84%;float: left;margin-top: 20px">
        <p class="specialist-tag">农药名称：<span th:text="${pesticide.pesticide_name}"></span></p>
        <p class="specialist-tag">组成成分：<span th:text="${pesticide.pesticide_composition}"></span></p>
        <p class="specialist-tag">农药剂型：<span th:text="${pesticide.pesticide_dosage}"></span></p>
        <p class="specialist-tag">农药含量：<span th:text="${pesticide.pesticide_content}"></span></p>
        <p class="specialist-tag">预防的病害：<span th:text="${pesticide.pesticide_predisease}"></span></p>
        <p class="specialist-tag">农药介绍：<span th:text="${pesticide.pesticide_instructions}"></span></p>
        <p class="specialist-tag">农药价格：<span th:text="${pesticide.pesticide_price}"></span></p>
        <p class="specialist-tag">生产厂家：<span th:text="${pesticide.pesticide_manufacturer}"></span></p>
        <p class="specialist-tag">登记号：<span th:text="${pesticide.pesticide_licensenumber}"></span></p>
        <p class="specialist-tag">适用作物类型：<span th:text="${pesticide.pesticide_address}"></span></p>
        <p class="specialist-tag">生产日期：<span th:text="${pesticide.pesticide_productiondate}"></span></p>
        <p class="specialist-tag">适用作物：<span th:text="${pesticide.pesticide_moderatecrop}"></span></p>
        <p class="specialist-tag">农药毒性：<span th:text="${pesticide.pesticide_virulence}"></span></p>
        <p class="specialist-tag">注意事项：<span th:text="${pesticide.pesticide_note}"></span></p>
        <p class="specialist-tag">厂家联系电话：<span th:text="${pesticide.pesticide_phone}"></span></p>
        <p class="specialist-tag">保质期：<span th:text="${pesticide.pesticide_Shelflife}"></span></p>
        <p class="specialist-tag">推荐日期：<span th:text="${pesticide.recommend_data}"></span></p>

    </div>
    <!-- 右侧浮动元素，提醒框啥的 -->
    <div style="width: 14%;background: wheat;float: right;margin-top: 10px;text-align: center;font: 400 15px Arial;padding: 10px 5px 10px 5px;overflow: auto">
        <p>今天是<span id="datetime" style="color: chocolate">2020-01-12</span></p>
        <p>正在浏览<span th:text="${pesticide.getPesticide_name()}" style="color: chocolate">富源四号</span>的信息</p>
        <br>
        <p>
            <a class="btn-sm btn-success" th:href="@{/admin/passPesticide(pesticide_id=${pesticide.getPesticide_id()})}">过审</a>
        </p>
    </div>
</div>
</body>
<!--添加日期的js-->
<script>
    window.onload = function() {
        const date = new Date();
        const year = date.getFullYear();// 年
        const month = date.getMonth() + 1; // 月
        const day  = date.getDate(); // 日

        document.getElementById("datetime").innerHTML = year + "年" + month + "月" + day + "日";
    };


    //筛选信息
    // 1 插秧,2 保墒旱直播,3 播后上水,4 催芽撒播,0 全部
    function filterInfo(index) {
        const tagsIco = document.getElementsByClassName("lzc_icon");
        const tagsSow1 = document.getElementsByClassName("sow1");
        const tagsSow2 = document.getElementsByClassName("sow2");
        const tagsSow3 = document.getElementsByClassName("sow3");
        const tagsSow4 = document.getElementsByClassName("sow0");
        for(let i=0;i<tagsIco.length;i++) {
            tagsIco[i].parentNode.style.display = 'none';
        }
        switch (index) {
            case 0:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsIco[i].parentNode.style.display='block';
                }break;
            }
            case 1:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow1[i].parentNode.style.display='block';
                }break;
            }
            case 2:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow2[i].parentNode.style.display='block';
                }break;
            }
            case 3:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow3[i].parentNode.style.display='block';
                }break;
            }
            case 4:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow4[i].parentNode.style.display='block';
                }break;
            }
        }

    }
</script>
</html>