<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/x-icon" href="img/ari-logo.png"/>

<head>
    <meta charset="UTF-8">
    <title>时间轴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<style>
    .specialist-tag{margin-left: 10%;width: 80%;background: lightgoldenrodyellow;border-radius: 12px;padding: 10px}
</style>
<!--推荐历史(时间轴)-->
<div class="main-context">
    <!--时间轴-->
    <div style="width: 84%;float: left;margin-top: 20px">
        <p class="specialist-tag">姓名/公司名：<span th:text="${specialistInfo.getSpecialist_name()}"></span></p>
        <p class="specialist-tag">电话号码：<span th:text="${specialistInfo.getSpecialist_phone()}"></span></p>
        <p class="specialist-tag" th:if="${specialistInfo.getSpecialist_id()<10000}">擅长领域：<span th:text="${specialistInfo.getSpecialist_type()}"></span></p>
        <p class="specialist-tag">公司/自我介绍：<span th:text="${specialistInfo.getSpecialist_instructions()}"></span></p>
        <p class="specialist-tag">公司地址：<span th:text="${specialistInfo.getSpecialist_address()}"></span></p>
        <p class="specialist-tag">证明材料：
            <img th:src="'data:image/jpg;base64,'+${pic}" width="200px" height="200px" alt="加载失败" src="img/ari-logo.png">
        </p>
    </div>
    <!-- 右侧浮动元素，提醒框啥的 -->
    <div style="width: 14%;background: wheat;float: right;margin-top: 10px;text-align: center;font: 400 15px Arial;padding: 10px 5px 10px 5px;overflow: auto">
        <p>今天是<span id="datetime" style="color: chocolate">2020-01-12</span></p>
        <p>正在浏览<span th:text="${specialistInfo.getSpecialist_name()}" style="color: chocolate">富源四号</span>的信息</p>
        <br>
        <p>
            <a class="btn-sm btn-success" th:href="@{/admin/specialistPass(specialist_id=${specialistInfo.getSpecialist_id()},phone=${specialistInfo.getSpecialist_phone()})}">过审</a>
        </p>
    </div>
</div>
</body>
<!--添加日期的js-->
<script>
    window.onload = function() {
        const date = new Date();
        const year = date.getFullYear();// 年
        const month = date.getMonth() + 1; // 月
        const day  = date.getDate(); // 日

        document.getElementById("datetime").innerHTML = year + "年" + month + "月" + day + "日";
    };


    //筛选信息
    // 1 插秧,2 保墒旱直播,3 播后上水,4 催芽撒播,0 全部
    function filterInfo(index) {
        const tagsIco = document.getElementsByClassName("lzc_icon");
        const tagsSow1 = document.getElementsByClassName("sow1");
        const tagsSow2 = document.getElementsByClassName("sow2");
        const tagsSow3 = document.getElementsByClassName("sow3");
        const tagsSow4 = document.getElementsByClassName("sow0");
        for(let i=0;i<tagsIco.length;i++) {
            tagsIco[i].parentNode.style.display = 'none';
        }
        switch (index) {
            case 0:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsIco[i].parentNode.style.display='block';
                }break;
            }
            case 1:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow1[i].parentNode.style.display='block';
                }break;
            }
            case 2:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow2[i].parentNode.style.display='block';
                }break;
            }
            case 3:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow3[i].parentNode.style.display='block';
                }break;
            }
            case 4:{
                for(let i=0;i<tagsIco.length;i++){
                    tagsSow4[i].parentNode.style.display='block';
                }break;
            }
        }

    }
</script>
</html>