<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/CSS/fa/all.min.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <style>
        a{
            text-decoration:none;
            display: block;
        }
        .sign{
            font-size: 24px;
            margin-right: 18px;
            color: #1a437e;
        }
        .main{
            margin-left: 130px;
            margin-top: 50px;
            margin-right: 10px;
            float: left;
        }

        .min1{
            width: 300px;
            height: 100px;
            color: gold;
            font-size: 24px;
            line-height: 100px;
            padding-left: 30px;
            background-color: grey;
        }

        .min{
            width: 300px;
            height: 100px;
            color: white;
            line-height: 100px;
            padding-left: 30px;
            background-color: grey;
        }
        .min:hover{
            background-color: GrayText;
            color: orange;
        }
        .point{
            padding-left: 150px;
        }
        .photo{
            margin-top: 50px;
            width: 990px;
            height: 600px;
            float: left;
        }
        .navbar{
            margin-top: -20px;
        }
    </style>
</head>
<body>
<div class="page-header" style="margin-top: 10px">
    <div style="margin-left: 120px">
        <span class="glyphicon glyphicon-gift sign"></span><span class="sign">交易大厅</span>
    </div>
</div>

<!--顶部导航条-->
<nav class="navbar " style="background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-left: 80px">
                <li ><a class="glyphicon glyphicon-shopping-cart" href="/dealLobby/shopCar2">购物车</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/dealLobby/shopSearch" method="post">
                <div class="form-group">
                    <select class="form-control" style="width: 200px;height: 35px" name="cereal">
                        <option selected>请选择作物种类</option>
                        <div th:each="seedType:${seedTypes}">
                            <option th:text="${seedType}" th:name="${seedType}" th:value="${seedType}"></option>
                        </div>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
                <li ><a class="glyphicon glyphicon-comment" th:href="@{/dealLobby/connect}" href="#">消息</a></li>
                <li ><a class="glyphicon glyphicon-user" href="/personalCenter/index">个人中心</a></li>
                <li ><a class="glyphicon glyphicon-home" th:href="@{/dealLobby/returnIndex(username=${session.userName})}">返回首页</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div style="height: 600px">
    <!--推荐框-->
    <div class="main" style="margin-top: 0px">
        <div class="min1">季度推荐农作物</div>
        <div th:each="seed:${seeds}">
    <!--        th:onclick="'javascript:showPhoto(\''+${seed.getSeed_id()}+'\',\''+${seed.getSeed_introduce()}+'\');'"-->
    <!--        <a th:onclick="'javascript:reply_user(\''+${comment.coid}+'\',\''+${comment.author}+'\');'" >回复</a>-->

            <div >
                <a th:onclick="'javascript:showPhoto(\''+${seed.getSeed_id()}+'\');'" class="min" th:id="cropname+${seed.getSeed_id()}" href="#" th:text="${seed.getSeed_name()}">农作物1<i class="glyphicon glyphicon-menu-right point"></i></a>
                <input th:id="int+${seed.getSeed_id()}" type="hidden" th:value="${seed.getSeed_introduce()}">
            </div>
        </div>
    </div>

<!--推荐框右侧作物图片-->
    <div  class="photo" style="margin-top: 0px">
        <a id="photoa" th:href="'/seedRecInfo/'+${id}" href="#" style="float: left">
        <img th:src="@{'/img/seed'+${photoname}+'.jpg'}" src="#" id="photoimg" style="width: 700px;height: 600px">
        </a>
        <div class="lead text-lowercase" id="text" style="float: left;width: 280px;height: 600px;background-color:black;margin-left: 10px;color: goldenrod" th:text="${introduce}"></div>
    </div>
</div>

<!--种子推送-->
<div style="width: 100%;margin-top: 30px">
        <div style="margin-left: 120px;margin-bottom: 50px">
            <span class="glyphicon glyphicon-thumbs-up sign"></span><span class="sign">你可能感兴趣的</span>
        </div>
    <div th:if="${seedAndTypes.size()}>0" th:each="sAT:${seedAndTypes}" style="margin-left: 120px">
        <div style="height: 600px;margin-bottom: 40px">
                <div th:text="${sAT.type}" class="glyphicon glyphicon-grain sign"></div>
            <div style="height: 550px;overflow:auto">
            <div th:if="${sAT.seeds.size()>0}" th:each="seed:${sAT.seeds}" style="margin-left: 30px;margin-top: 20px" >
                <div style="float: left;width: 400px;height: 500px;background-color: wheat;border-bottom: rgba(1,1,1,0.2) 1px solid;margin-right: 30px;margin-top: 18px">
                    <a href="#" style="display: block">
                        <img th:src="@{'/img/seed'+${seed.getSeed_id()}+'.jpg'}" style="width: 400px;height: 300px" alt="加载失败">
                    </a>
                    <div >
                        <div >
                            <h5 th:text="${seed.getSeed_name()}" >宁粳43号</h5>
                        </div>
                        <p th:text="${seed.getSeed_introduce()}" style="width: 100%;overflow: auto;height: 120px"> 宁粳43号具有抗倒伏，耐旱耐寒，且产量高，味道甜，在市场上具有一定的人气和市场。</p>
                        <div >
                            <a style="text-decoration: none;margin-left: 20px;float: right;margin-right: 20px" th:href="'/seedRecInfo/'+${seed.getSeed_id()}" target="_blank" href="/"><span class="glyphicon glyphicon-hand-right"></span>购买</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function showPhoto(id){
        var pdid = 'cropname' + id;
        var idid = 'int' + id;
        var id = id;
        var cropname = $("#" + pdid + "").text();
        var introduce=$("#" + idid + "").val();
        $.ajax({
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            url:"/showPhoto",
            data:{"cropname":cropname,"id":id},
            type:"POST",
            dataType:"text",
            success: function (data) {
                $("#photoimg").attr('src','/img/seed'+data+'.jpg');
                $("#photoa").attr('href','/seedRecInfo/'+id);
                $("#text").text(introduce);
            },
            error:function(data, XMLHttpRequest, textStatus, errorThrown){
                alert("输入有误");
                alert(cropname);
            }
        })
    }
</script>

</body>
</html>