<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .sign{
        font-size: 24px;
        margin-right: 18px;
        color: #1a437e;
    }
    .navbar{
        margin-top: -20px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="page-header" style="margin-top: 10px">
    <div style="margin-left: 120px">
        <span class="glyphicon glyphicon-globe sign"></span><span class="sign">个人中心</span>
    </div>
</div>

<!--顶部导航条-->
<nav class="navbar " style="background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-left: 80px">
                <li style="margin-right: 60px"><a class="glyphicon glyphicon-user" th:href="@{/personalCenter/connect}" href="#">顾客列表</a></li>
                <li style="margin-right: 60px"><a class="glyphicon glyphicon-piggy-bank" href="/personalCenter/getCandidate">审核情况</a></li>
                <li style="margin-right: 60px"><a class="glyphicon glyphicon-piggy-bank" href="#">订单交易</a></li>
                <li ><a class="glyphicon glyphicon-pencil" href="/personalCenter/addCrop">添加商品</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
                <li ><a class="glyphicon glyphicon-home" th:href="@{/dealLobby/index2(name=${session.userName})}" style="float: left">返回交易大厅</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="width: 1050px;height: 600px;overflow: auto;margin-left: 110px;float: left">
<div th:if="${seeds.size()>0}" th:each="seed:${seeds}" >
    <div style="float: left;width: 1030px;height: 320px;background-color: wheat;border-bottom: rgba(1,1,1,0.2) 1px solid;margin-right: 20px;margin-bottom: 10px">
        <a href="#" style="display: block;float: left">
            <img th:src="@{'/img/seed'+${seed.getSeed_id()}+'.jpg'}" style="width: 400px;height: 300px;margin-top: 10px;margin-left: 10px" alt="加载失败">
        </a>
        <div style="float: left;width: 600px;height: 300px;margin-top: 10px;margin-left: 10px">
            <div >
                <div style="float: left;width: 70px">名称：</div><div th:text="${seed.getSeed_name()}" style="height: 30px;float: left;width: 530px">宁粳43号</div>
            </div>
            <div >
                <div style="float: left;width: 70px">类型：</div><div th:text="${seed.getSeed_type()}" style="height: 30px;float: left;width: 530px">宁粳43号</div>
            </div>
            <div style="float: left;width: 70px">简介：</div><div th:text="${seed.getSeed_introduce()}" style="float: left;width: 530px;height: 100px"> 宁粳43号具有抗倒伏，耐旱耐寒，且产量高，味道甜，在市场上具有一定的人气和市场。</div>
            <div >
            </div>
            <div style="float: left;width: 70px">播种方式：</div><div th:text="${seed.getSeed_method()}" style="height: 100px;float: left;width: 530px"> 宁粳43号具有抗倒伏，耐旱耐寒，且产量高，味道甜，在市场上具有一定的人气和市场。</div>
            <div style="float: left;width: 600px">
                <a style="text-decoration: none;display: block;margin-left: 30px;float: right" href="#" target="_blank">修改</a>
                <a style="text-decoration: none;display: block;float: right" href="#" target="_blank">删除</a>
            </div>
        </div>
    </div>
</div>
</div>

<div style="width: 270px;height: 300px;background:wheat;float: left;margin-left: 15px">
    <div style="border-radius: 100%;overflow: hidden;border: 4px #fff solid;box-shadow: rgba(1,1,1,0.5) 3px 2px 10px 0;width: 100px;text-align: center;margin: 10px auto">
        <img src="/img/profile1.jpg" class="card-img-top" alt="profile" style="width: 100px">
    </div>
    <div th:text="'姓名：'+${user.getUser_name()}" style="margin-bottom: 20px;margin-left: 10px"></div>
    <div th:text="'电话：'+${user.getUser_tel()}" style="margin-bottom: 20px;margin-left: 10px"></div>
    <div th:text="${user.getUser_fieldadress()}" style="margin-bottom: 20px;margin-left: 10px"></div>
</div>

</body>
</html>