<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dajun.springbootplatform.repository.fieldRepository">
    <select id="showField" parameterType="String" resultType="com.dajun.springbootplatform.entities.User" >
        select * from user where user_tel = #{phone}
    </select>
    <update id="updateAcres" parameterType="User">
        update user set user_fieldacres=user_fieldacres+#{user_fieldacres} where user_tel=#{user_tel}
    </update>
    <select id="findFieldByTel" parameterType="String" resultType="field">
        select * from field where user_tel=#{tel}
    </select>
    <delete id="deleteFieldByTelAndName" parameterType="phoneAndCropsName">
        delete from field where user_tel=#{user_tel} and user_cropsname=#{user_cropsname}
    </delete>
    <select id="selectFieldAcresByTelAndName" parameterType="phoneAndCropsName" resultType="int">
        select sum(user_cropsacres) from field where user_tel=#{user_tel} and user_cropsname=#{user_cropsname}
    </select>
    <select id="findMyField" parameterType="phoneAndCropsName" resultType="field">
        SELECT * FROM FIELD WHERE user_tel= #{phone}
    </select>
    <insert id="addImportentRecord">
        insert into importantrecord(recommend_id,field_id,group_id,seed_id,finish_time) VALUES (#{recommendId},#{fieldId},#{groupId},#{seedId},#{date})
    </insert>
    <select id="findFieldTime" resultType="int">
        select use_time from field where field_id=#{fieldId}
    </select>
    <update id="updateFieldCrop">
        update field set user_cropsname=#{seedName},user_cropstype=#{seedType},use_time=use_time+1 where field_id=#{fieldId}
    </update>
</mapper>
