<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dajun.springbootplatform.repository.recommendRepository">
<!--    这个有限制返回的数据数-->
    <select id="findBySeedIdAndSpecialistIdLimit" resultType="recommend" parameterType="specialistAndSeedId">
        select * from recommendjude where seed_id=#{seed_id} and specialist_id=#{specialist_id}
        order by recommend_id desc limit 6;
    </select>
<!--    这个不限制返回的数据数-->
    <select id="findBySeedIdAndSpecialistId" resultType="recommend" parameterType="specialistAndSeedId">
        select * from recommendjude where seed_id=#{seed_id} and specialist_id=#{specialist_id}
        order by recommend_id desc;
    </select>
<!--    插入水表-->
    <insert id="insertBySeedId" parameterType="recommend">
        insert into recommend
            (specialist_id,recommend_time,recommend_endtime,seed_id,recommend_type,recommend_readed,detail,notice,stage,sowmethod)
        values
            (#{specialist_id},#{recommend_time},#{recommend_endtime},#{seed_id},#{recommend_type},#{recommend_readed},#{detail},#{notice},#{stage},#{sowmethod})
    </insert>
    <insert id="insertJudgeBySeedId" parameterType="recommend" useGeneratedKeys="true" keyColumn="recommend_id" keyProperty="recommend_id">
        insert into recommendjude
        (specialist_id,recommend_time,recommend_endtime,seed_id,recommend_type,recommend_readed,detail,notice,stage,sowmethod,judge)
        values
        (#{specialist_id},#{recommend_time},#{recommend_endtime},#{seed_id},#{recommend_type},#{recommend_readed},#{detail},#{notice},#{stage},#{sowmethod},0)
    </insert>
    <delete id="deleteByRecommendId" parameterType="int">
        delete from recommend where recommend_id=#{recommend_id}
    </delete>
    <select id="findRecommendIdBySpecialistId" parameterType="int" resultType="int">
        select recommend_id from recommendjude where specialist_id=#{specialistId}
        order by recommend_id desc limit 1;
    </select>
    <insert id="saveElements" parameterType="recommendElements">
        insert into
            recommendfertilizer (recommend_id,K_volume,N_volume,P_volume)
        values
            (#{recommend_id},#{K_volume},#{N_volume},#{P_volume})
    </insert>
    <insert id="savePesticide" parameterType="recommendPesticide">
        insert into
            recommendpesticide(recommend_id, name, ingredient) VALUES
            (#{recommend_id},#{name},#{ingredient})
    </insert>
    <select id="findElementsById" parameterType="int" resultType="recommendElements">
        select * from recommendfertilizer where recommend_id=#{id}
    </select>
    <select id="findPesticideById" parameterType="int" resultType="recommendPesticide">
        select * from recommendpesticide where recommend_id=#{id}
    </select>
    <select id="findRecommendByCropsAndTime" resultType="recommend" parameterType="String">
        select * from recommendjude where
--             curdate()>recommend_time and recommend_endtime>curdate() and
             seed_id in(select seed_id from seed where seed_name in
             (select user_cropsname from field where user_tel = #{user_tel} and field_id = #{fieldId}))
        order by recommend_time desc;
    </select>
    <select id="recommendReadOrNot" resultType="Integer">
        SELECT 1 FROM importantrecord WHERE recommend_id = #{recommendId} AND group_id = #{groupId} limit 1
    </select>
    <insert id="insertRecommendRead" parameterType="recommendIdAndTel">
        insert into recommendread(recommend_id, user_tel) values (#{recommend_id},#{user_tel})
    </insert>
    <insert id="savePolicy" useGeneratedKeys="true" keyColumn="policy_id" keyProperty="policy_id" parameterType="policy" >
        insert into policy(policy_time, policy_title, policy_content, specialist_id)
        VALUES (#{policy_time},#{policy_title},#{policy_content},#{specialist_id})
    </insert>
    <insert id="savePolicyFile" parameterType="String">
        insert into policyfile(policyfile_location, policyfile_read) values (#{location},0)
    </insert>
<!--    根据推荐的ID获取推荐的内容-->
    <select id="findRecommendById" parameterType="int" resultType="recommend">
        select * from recommend where recommend_id=#{id}
    </select>
    <select id="findAllFiles" resultType="String">
        select policyfile_location from policyfile;
    </select>
</mapper>
