<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dajun.springbootplatform.repository.registerRepository">
    <insert id="saveUser" parameterType="com.dajun.springbootplatform.entities.User" >
        insert into user(user_name,user_pass,user_tel,user_fieldacres)
        values (#{user_name},#{user_pass},#{user_tel},0.0)
    </insert>
    <update id="insertField" parameterType="field">
        insert into field(user_tel,user_cropsacres,user_cropstype,user_cropsname)
        values (#{user_tel},#{user_cropsacres},#{user_cropstype},#{user_cropsname})
    </update>
<!--    # 虽然这个cardAndAddress位于other文件夹里但是你不能用other.cardAndAddress-->
    <update id="saveCardAndAddress" parameterType="cardAndAddress">
        update user set user_card=#{user_card},user_fieldadress=#{user_fieldadress}
        where user_tel=#{user_tel}
    </update>
    <insert id="saveSpecialist" useGeneratedKeys="true" keyProperty="specialist_id" keyColumn="specialist_id" parameterType="Specialist">
        insert into specialist
            (specialist_name, specialist_pass, specialist_phone, specialist_address, specialist_instructions, specialist_type)
        values (#{specialist_name},#{specialist_pass},#{specialist_phone},#{specialist_address},#{specialist_instructions},#{specialist_type})
    </insert>
</mapper>
