<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>种子信息管理</title>
    <link rel="stylesheet" type="text/css" href="CSS/Specialist.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div id="top-logo">
    <div class="logo">
        <img th:src="@{img/ari-logo.png}" src="img/ari-logo.png" alt="加载失败">
        <b>农业一体化智能平台</b>
    </div>
</div>
<header>
    <div class="navigation"
         style="background: #333 linear-gradient(to right,  rgb(1,208,212), rgb(123,242,171));height: 30px;width: 100%;margin-bottom: 20px">
        <span style="margin-left: 5%;font: 700 18px Arial;line-height: 30px;color: white">类别选择</span>
        <a href="/specialistIndex" style="margin-right: 2%;float: right;font: 700 18px Arial;line-height: 30px;color: white">返回主页面</a>
    </div>
</header>
<p style="width: 100%;margin-top: 30px;font: 600 20px Arial, sans-serif;text-align: center">
    选择您的要推荐的类别</p>
<div>
    <!--     1234分别表示插秧、保墒旱直播、播后上水、催芽撒播               -->
    <a class="btn btn-outline-info" style="margin-left:37%" type="button" href="/recommendHF">肥料</a>
    <a class="btn btn-outline-info" style="margin-left: 4%" type="button" href="/recommendNJ">生产工具</a>
    <a class="btn btn-outline-info" style="margin-left: 4%" type="button" href="/recommendNY">农药</a>
</div>
</div>
</body>
</html>