<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信息完善</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /*顶部logo区*/
        #top-logo{
            width: 100%;
            height: 70px;
        }
        #top-logo .logo{
            margin-left: 0;
            height: 70px;
            /*background: #50bcb8;*/
            width: 25%;
            float: left;
        }
        #top-logo .logo img,b{
            float: left;
            height: 70px;
            /*margin: 5px auto 5px 10px;*/
        }
        #top-logo .logo b{
            float: left;
            text-align: center;
            line-height: 70px;
            color: #333333;
            font-family: 幼圆, serif;
            font-weight: bold;
            font-size: 26px;
            margin-left: 5px;
        }
    </style>

</head>
<div id="top-logo">
    <div class="logo">
        <img th:src="@{img/ari-logo.png}" src="img/ari-logo.png" alt="加载失败">
        <b>农业一体化智能平台</b>
    </div>
</div>
<header>
    <div class="navigation" style="background: #333 linear-gradient(to right,  rgb(1,208,212), rgb(123,242,171));height: 30px;width: 100%;margin-bottom: 20px">
        <span style="margin-left: 5%;font: 700 18px Arial;line-height: 30px;color: white">用户注册</span>
    </div>
</header>
<body>
<!--农民的进一步注册界面-->
<form  id="farmerProfile" method="post" style="display: block" th:action="@{/registerCrops}" >
    <!--农民身份证信息-->
    <div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend">
            <span class="input-group-text">身份证</span>
        </div>
        <input type="text" placeholder="您的身份证号" name="user_card" aria-label="IDcard"  class="form-control">
    </div>
    <!--农民的具体地址-->
    <label for="farmer-address" style="margin-left: 15%;">填写您田的地址</label>
    <div class="input-group mb-3" id="farmer-address" style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend" id="button-addon3">
            <select aria-label="province" name="user_prov" class="btn btn-outline-secondary prov" type="button">Button</select>
            <select aria-label="city"  name="user_city" class="btn btn-outline-secondary city" type="button">Button</select>
            <select aria-label="country" name="user_country" class="btn btn-outline-secondary country" type="button">Button</select>
        </div>
        <input type="text" class="form-control" name="user_address" placeholder="具体位置" aria-label="detail-road" aria-describedby="button-addon3">
    </div>

    <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
    <div class="field-details">
        <!--作物信息-->
        <div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
            <div class="input-group-prepend">
                <span class="input-group-text">具体作物</span>
                <!--选择作物类别-->
                <select aria-label="country" class="btn btn-outline-secondary crops" name="CropType" type="button">Button
                    <!--枸杞，葡萄，向日葵,水稻，玉米，小麦，大豆,马铃薯-->
                    <option onclick="showSelect('gq')" th:if="${wolfBerry!=null&&!wolfBerry.isEmpty()}">枸杞</option>
                    <option onclick="showSelect('sd')" th:if="${paddyRice!=null&&!paddyRice.isEmpty()}">水稻</option>
                    <option onclick="showSelect('pt')" th:if="${purple!=null&&!purple.isEmpty()}">葡萄</option>
                    <option onclick="showSelect('ym')" th:if="${corn!=null&&!corn.isEmpty()}">玉米</option>
                    <option onclick="showSelect('dd')" th:if="${soybean!=null&&!soybean.isEmpty()}">大豆</option>
                    <option onclick="showSelect('mls')" th:if="${potato!=null&&!potato.isEmpty()}">马铃薯</option>
                    <option onclick="showSelect('xrk')" th:if="${sunflower!=null&&!sunflower.isEmpty()}">向日葵</option>
                    <option onclick="showSelect('xm')" th:if="${wheat!=null&&!wheat.isEmpty()}">小麦</option>
                </select>
                <!--这下面都是名称-->
                <!--枸杞-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="gq"
                        style="display: block" type="button">
                    <option  th:if="${wolfBerry!=null}"
                             th:each="cropsName:${wolfBerry}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--葡萄-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="pt"
                        style="display: none" type="button">
                    <option  th:if="${purple!=null}"
                             th:each="cropsName:${purple}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--向日葵-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="xrk"
                        style="display: none" type="button">
                    <option  th:if="${sunflower!=null}" th:each="cropsName:${sunflower}"
                             th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--水稻-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="sd"
                        style="display: none" type="button">
                    <option th:if="${paddyRice!=null}"
                            th:each="cropsName:${paddyRice}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--玉米-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="ym"
                        style="display: none" type="button">
                    <option  th:if="${corn!=null}"
                             th:each="cropsName:${corn}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--小麦-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="xm"
                        style="display: none" type="button">
                    <option  th:if="${wheat!=null}"
                             th:each="cropsName:${wheat}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--大豆-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="dd"
                        style="display: none" type="button">
                    <option  th:if="${soybean!=null}"
                             th:each="cropsName:${soybean}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <!--马铃薯-->
                <select aria-label="country" class="btn btn-outline-secondary breeds" id="mls"
                        style="display: none" type="button">
                    <option th:if="${potato!=null}"
                            th:each="cropsName:${potato}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                </select>
                <span class="input-group-text" style="margin-left: 25px">田的面积</span>
            </div>
            <input type="text" class="form-control" name="crop_acres" placeholder="具体面积 0.00" aria-label="detail-area" aria-describedby="button-addon3">
            <div class="input-group-append">
                <span class="input-group-text">亩</span>
            </div>
        </div>
    </div>

    <!--提交和重置按钮-->
    <div style="width: 30%;margin-left: 35%;text-align: center;margin-top:20px;margin-bottom: 20px">
        <div id="crop-sub-button">
            <a type="submit" onclick="alertMsg()" class="btn btn-secondary">提交</a>
            <button class="btn btn-secondary" type="reset" value="Reset" style="margin-left:15%">重置</button>
        </div>
    </div>
</form>

<script>
    function alertMsg() {
        const tag = document.getElementById("farmerProfile");
        alert('感谢注册，现在将返回登陆页面。');
        tag.submit();
    }
    function showSelect(name) {
        //所有作物名称的选择框，置为不展示和移除name属性
        const tags = document.getElementsByClassName("breeds");
        for (let i=0;i<tags.length;i++){
            tags[i].style.display = 'none';
            tags[i].removeAttribute("name");
        }
        const tag = document.getElementById(name);
        tag.style.display= 'block';
        tag.setAttribute("name","CropName");
    }
</script>
<script type="text/javascript" th:src="@{JS/location.js}"></script>
<!--bootstrap的js文件-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>