<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /*顶部logo区*/
        #top-logo{
            width: 100%;
            height: 70px;
        }
        #top-logo .logo{
            margin-left: 0;
            height: 70px;
            /*background: #50bcb8;*/
            width: 25%;
            float: left;
        }
        #top-logo .logo img,b{
            float: left;
            height: 70px;
            /*margin: 5px auto 5px 10px;*/
        }
        #top-logo .logo b{
            float: left;
            text-align: center;
            line-height: 70px;
            color: #333333;
            font-family: 幼圆, serif;
            font-weight: bold;
            font-size: 26px;
            margin-left: 5px;
        }
    </style>
</head>
<div id="top-logo">
<div class="logo">
    <img th:src="@{img/ari-logo.png}" src="img/ari-logo.png" alt="加载失败">
    <b>农业一体化智能平台</b>
</div>
</div>
<header>
    <div class="navigation" style="background: #333 linear-gradient(to right,  rgb(1,208,212), rgb(123,242,171));height: 30px;width: 100%;margin-bottom: 20px">
        <span style="margin-left: 5%;font: 700 18px Arial;line-height: 30px;color: white">用户注册</span>
    </div>
</header>
<body>
<!--基础信息部分-->
<form th:action="@{/registerSub}" method="post" name="basic-information">
    <!--用户名-->
    <div class="input-group mb-3" style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">姓名</span>
        </div>
        <input type="text" class="form-control" name="userName" placeholder="如何称呼您" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <!--用户手机-->
    <div class="input-group mb-3" style="margin-left: 15%;width: 60%">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">手机</span>
        </div>
        <input type="text" class="form-control" name="userPhone" placeholder="您的电话号码" aria-label="telephone" aria-describedby="basic-addon2">
    </div>

    <!--用户密码-->
    <div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend">
            <span class="input-group-text">密码</span>
        </div>
        <input type="password" placeholder="设置密码" aria-label="password" id="first-password" class="form-control">
    </div>
    <div class="input-group mb-3" style="margin-left: 15%;width: 60%">
        <div class="input-group-prepend">
            <span class="input-group-text" >确认</span>
        </div>
        <input onkeyup="validate()" type="password" name="userPassword" placeholder="再次输入您的密码" aria-label="second-password" id="second-password"  class="form-control">
        <span id="password_tips"></span>
    </div>
    <!--提交和重置按钮-->
    <div style="width: 30%;margin-left: 35%;text-align: center;margin-top:20px;margin-bottom: 20px">
        <div id="res-sub-button">
            <button type="submit" class="btn btn-secondary">提交</button>
            <button class="btn btn-secondary" type="reset" value="Reset" style="margin-left:15%">重置</button>
        </div>
    </div>
</form>


<!--向下的箭头-->
<!--<div id="down-arrow" class="further-hidden" style="width: 10%;margin: 8px auto 8px 45%;display: block;text-align: center">-->
<!--<svg class="bi bi-chevron-double-down" width="20px" height="30px" viewBox="0 0 16 16" fill="rgb(5,209,210)" xmlns="http://www.w3.org/2000/svg">-->
<!--    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/>-->
<!--    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/>-->
<!--</svg>-->
<!--</div>-->



<!--自己写的js脚本-->
<script>
//密码是否重复的判断
    function validate() {
        let pw1 = document.getElementById("first-password").value;
        let pw2 = document.getElementById("second-password").value;
        if(pw1 === pw2){
            document.getElementById('password_tips').innerHTML = "<span style='color:green;'>密码一致</span>"
        }else {
            document.getElementById('password_tips').innerHTML = "<span style='color:lightcoral;'>密码不一致</span>"
        }
    }
</script>
<!--bootstrap的js文件-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>