<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /*顶部logo区*/
        #top-logo{
            width: 100%;
            height: 70px;
        }
        #top-logo .logo{
            margin-left: 0;
            height: 70px;
            /*background: #50bcb8;*/
            width: 25%;
            float: left;
        }
        #top-logo .logo img,b{
            float: left;
            height: 70px;
            /*margin: 5px auto 5px 10px;*/
        }
        #top-logo .logo b{
            float: left;
            text-align: center;
            line-height: 70px;
            color: #333333;
            font-family: 幼圆, serif;
            font-weight: bold;
            font-size: 26px;
            margin-left: 5px;
        }
    </style>
</head>
<div id="top-logo">
<div class="logo">
    <img th:src="@{img/ari-logo.png}" src="img/ari-logo.png" alt="加载失败">
    <b>农业一体化智能平台</b>
</div>
</div>
<header>
    <div class="navigation" style="background: #333 linear-gradient(to right,  rgb(1,208,212), rgb(123,242,171));height: 30px;width: 100%;margin-bottom: 20px">
        <span style="margin-left: 5%;font: 700 18px Arial;line-height: 30px;color: white">用户注册</span>
    </div>
</header>
<body>
<!--基础信息部分-->
<form action="" method="post" name="basic-information">
<!--用户名-->
<div class="input-group mb-3" style="width: 60%;margin-left: 15%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">姓名</span>
    </div>
    <input type="text" class="form-control" placeholder="如何称呼您" aria-label="Username" aria-describedby="basic-addon1">
</div>

<!--用户手机-->
<div class="input-group mb-3" style="margin-left: 15%;width: 60%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">手机</span>
    </div>
    <input type="text" class="form-control" placeholder="您的电话号码" aria-label="telephone" aria-describedby="basic-addon2">
</div>

<!--用户密码-->
<div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
    <div class="input-group-prepend">
        <span class="input-group-text">密码</span>
    </div>
    <input type="password" placeholder="设置密码" aria-label="password" id="first-password" class="form-control">
</div>
<div class="input-group mb-3" style="margin-left: 15%;width: 60%">
    <div class="input-group-prepend">
        <span class="input-group-text" >确认</span>
    </div>
    <input onkeyup="validate()" type="password" placeholder="再次输入您的密码" aria-label="second-password" id="second-password"  class="form-control">
    <span id="password_tips"></span>
</div>
</form>

<!--让用户选择类型-->
<!--提示进一步-->
<div class="navigation further-hidden" style="background: #333 linear-gradient(to right,  rgb(1,208,212), rgb(123,242,171));height: 30px;width: 100%;margin-top: 30px">
    <span style="margin-left: 5%;font: 700 18px Arial;line-height: 30px;color: white">您可以进一步完善信息</span>
</div>

<!--选择自己的职业-->
<div class="btn-toolbar further-hidden" role="toolbar" aria-label="Toolbar with button groups" id="buttons-list" style="text-align: center;margin-left: 6%;margin-top: 10px">
    <div class="btn-group btn-group-lg"  onclick="furtherProfile(this)" role="group" id="farmer" aria-label="First group" style="width: 18%;margin-right: 1%">
        <button type="button" class="btn btn-warning" style="width: 100%">我是农业生产者</button>
    </div>
    <div class="btn-group btn-group-lg" role="group" id="expert" aria-label="Second group" style="width: 18%;margin-right: 1%">
        <button type="button" class="btn btn-primary" style="width: 100%">我是专家</button>
    </div>
    <div class="btn-group btn-group-lg" role="group" id="buyer" aria-label="Third group" style="width:  18%;margin-right: 1%">
        <button type="button" class="btn btn-success" style="width: 100%">我是收购商</button>
    </div>
    <div class="btn-group btn-group-lg" role="group" id="supplier" aria-label="Fourth group" style="width:  18%;margin-right: 1%">
        <button type="button" class="btn btn-info" style="width: 100%">我是供应商</button>
    </div>
    <div class="btn-group btn-group-lg" role="group" id="promotion" aria-label="Fifth group" style="width:  18%">
        <button type="button" class="btn btn-secondary" style="width: 100%">我是农技推广员</button>
    </div>
</div>

<!--向下的箭头-->
<!--<div id="down-arrow" class="further-hidden" style="width: 10%;margin: 8px auto 8px 45%;display: block;text-align: center">-->
<!--<svg class="bi bi-chevron-double-down" width="20px" height="30px" viewBox="0 0 16 16" fill="rgb(5,209,210)" xmlns="http://www.w3.org/2000/svg">-->
<!--    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/>-->
<!--    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/>-->
<!--</svg>-->
<!--</div>-->

<!--农民的进一步注册界面-->
<div  id="farmerProfile" style="display: none" >
    <!--农民身份证信息-->
    <div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend">
            <span class="input-group-text">身份证</span>
        </div>
        <input type="text" placeholder="您的身份证号" aria-label="IDcard"  class="form-control">
    </div>
    <!--农民的具体地址-->
    <label for="farmer-address" style="margin-left: 15%;">填写您的地址</label>
    <div class="input-group mb-3" id="farmer-address" style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend" id="button-addon3">
            <select aria-label="province" class="btn btn-outline-secondary prov" type="button">Button</select>
            <select aria-label="city" class="btn btn-outline-secondary city" type="button">Button</select>
            <select aria-label="country" class="btn btn-outline-secondary country" type="button">Button</select>
        </div>
        <input type="text" class="form-control" placeholder="具体位置" aria-label="detail-road" aria-describedby="button-addon3">
    </div>

<!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
    <!--田的位置，作物-->
    <label style="margin-left: 15%;">田间相关信息</label>
    <div class="input-group mb-3" style="margin-left: 15%;width: 60%">
        <div class="input-group-prepend">
            <span class="input-group-text">田的位置</span>
            <select aria-label="province" class="btn btn-outline-secondary prov" type="button">Button</select>
            <select aria-label="city" class="btn btn-outline-secondary city" type="button">Button</select>
            <select aria-label="country" class="btn btn-outline-secondary country" type="button">Button</select>
        </div>
        <input type="text" class="form-control" placeholder="田的具体位置" aria-label="fieldAddress" aria-describedby="basic-addon2">
    </div>
    <div class="input-group mb-3"  style="width: 60%;margin-left: 15%">
        <div class="input-group-prepend">
            <span class="input-group-text">具体作物</span>
            <select aria-label="country" class="btn btn-outline-secondary crops" type="button">Button</select>
            <select aria-label="country" class="btn btn-outline-secondary breeds" type="button">Button</select>
            <span class="input-group-text" style="margin-left: 25px">田的面积</span>
        </div>
        <input type="text" class="form-control" placeholder="具体面积 0.00" aria-label="detail-area" aria-describedby="button-addon3">
        <div class="input-group-append">
            <span class="input-group-text">亩</span>
        </div>
    </div>
</div>

<!--提交和重置按钮-->
<div style="width: 30%;margin-left: 35%;text-align: center;margin-top:20px;margin-bottom: 20px">
<div id="res-sub-button">
    <button type="submit" class="btn btn-secondary">提交</button>
    <button class="btn btn-secondary" type="reset" value="Reset" style="margin-left:15%">重置</button>
</div>
</div>

<!--自己写的js脚本-->
<script>
//密码是否重复的判断
    function validate() {
        let pw1 = document.getElementById("first-password").value;
        let pw2 = document.getElementById("second-password").value;
        if(pw1 === pw2){
            document.getElementById('password_tips').innerHTML = "<span style='color:green;'>密码一致</span>"
        }else {
            document.getElementById('password_tips').innerHTML = "<span style='color:lightcoral;'>密码不一致</span>"
        }
    }

//打开哪个进一步的注册
    function furtherProfile(object) {
        let tags = document.getElementsByClassName("further-hidden");
        for(let i=0;i<tags.length;i++){
            tags[i].style.display="none";
        }
        const detail  = document.getElementById(object.id + 'Profile');
        detail.style.display='block';
    }

//选择的动态联动

//定义省市的信息
let provList = ['银川市','石嘴山市','吴忠市','固原市','中卫市'];
let cityList = [];
cityList[0] = ['西夏区','金凤区','兴庆区','永宁县','贺兰县','武灵市'];//银川
cityList[1] = ['大武口', '惠农区', '平罗县'];//石嘴山
cityList[2] = ['利通区', '红寺堡区', '盐池县', '同心县','青铜峡市'];//吴忠
cityList[3] = ['原州区', '西吉县', '隆德县', '泾源县','彭阳县'];//固原
cityList[4] = ['沙坡头区','中宁县','海原县'];//中卫

let countryList = [[],[],[],[],[]];
//使用三维数组来存储县信息
//银川
countryList[0][0] = ['西花园路街道', '北京西路街道', '文昌路街道', '朔方路街道', '宁华路街道', '贺兰山西路街道', '怀远路街道','镇北堡镇', '兴泾镇'];//西夏区
countryList[0][1] = ['丰登镇', '良田镇', '上海西路街道', '北京中路街道', '长城中路街道', '黄河东路街道', '满城北街街道'];//金凤区
countryList[0][2] = ['凤凰北街街道', '解放西街街道', '文化街街道', '富宁街街道', '新华街街道', '玉皇阁北街街道', '前进街街道', '中山南街街道', '银古路街道', '胜利街街道', '丽景街街道', '掌政镇', '大新镇', '通贵乡', '月牙湖乡'];//兴庆区
countryList[0][3] = ['杨和街道','杨和镇','李俊镇','望远镇','望洪镇','闽宁镇','胜利乡'];//永宁县
countryList[0][4] = ['金贵镇', '立岗镇', '洪广镇', '习岗镇', '常信乡'];//贺兰山县
countryList[0][5] = ['东塔镇','郝家桥镇','崇兴镇','宁东镇','马家滩镇','临河镇','桐树乡','白土岗乡'];//武灵
//石嘴山
countryList[1][0] = ['长胜街道', '朝阳街道', '人民路街道', '长城街道', '青山街道', '石炭井街道', '白芨沟街道', '沟口街道', '长兴街道','锦林街道', '星海镇'];//大武口
countryList[1][1] = ['北街街道', '南街街道', '中街街道', '育才路街道', '河滨街街道', '火车站街道', '红果子镇', '尾闸镇', '园艺镇', '庙台乡', '礼和乡', '燕子墩乡'];//惠农区
countryList[1][2] = ['城关镇', '黄渠桥镇', '宝丰镇', '头闸镇', '姚伏镇', '崇岗镇', '陶乐镇', '高庄乡', '灵沙乡', '渠口乡', '通伏乡', '高仁乡', '红崖子乡'];//平罗县
//吴忠
countryList[2][0] = ['古城镇', '上桥镇', '胜利镇', '金星镇', '金积镇', '金银滩镇', '高闸镇', '扁担沟镇', '东塔寺乡', '板桥乡', '马莲渠乡', '郭家桥乡'];//利通区
countryList[2][1] = ['红寺堡镇', '太阳山镇', '南川乡', '大河乡', '沙泉乡', '买河乡'];//红寺堡
countryList[2][2] = ['花马池镇', '大水坑镇', '惠安堡镇', '高沙窝镇', '王乐井乡', '冯记沟乡', '青山乡', '麻黄山乡'];//盐池县
countryList[2][3] = ['豫海镇河西镇', '丁塘镇', '韦州镇', '下马关镇', '预旺镇', '王团镇', '田老庄乡', '马高庄乡', '张家塬乡', '兴隆乡', '石狮开发区管委会', '窑山管委会'];//同心县
countryList[2][4] = ['小坝镇','大坝镇','青铜峡镇','叶盛镇','瞿靖镇','峡口镇','邵刚镇','陈袁滩镇'];//青铜峡
//固原
countryList[3][0] = ['三营镇', '头营镇', '官厅镇', '张易镇', '开城镇', '彭堡镇', '黄铎堡镇', '寨科乡', '炭山乡', '中河乡', '河川乡', '南关街道', '古雁街道', '北塬街道'];//原州区
countryList[3][1] = ['吉强镇', '兴隆镇', '平峰镇', '将台堡镇', '新营乡', '红耀乡', '田坪乡', '马建乡', '震湖乡', '兴平乡', '西滩乡', '王民乡', '什字乡', '马莲乡', '硝河乡', '偏城乡', '沙沟乡', '白崖乡', '火石寨乡'];//西吉县
countryList[3][2] = ['城关镇', ' 沙塘镇', '联财镇', '陈靳乡', '好水乡', '观庄乡', '杨河乡', '神林乡', '张程乡', '凤岭乡', '山河乡 ', '温堡乡', '奠安乡'];//隆德县
countryList[3][3] = ['香水镇', '泾河源镇', '六盘山镇', '黄花乡', '大湾乡', '兴盛乡', '新民乡'];//泾源县
countryList[3][4] = ['白阳镇', '王洼镇', '古城镇', '红河镇', '新集乡', ' 城阳乡', ' 冯庄乡', ' 小岔乡', ' 孟塬乡', ' 罗洼乡 ', '交岔乡', '草庙乡'];//彭阳县
//中卫
countryList[4][0] = ['文昌镇', '滨河镇', '迎水桥镇', '东园镇', '柔远镇', '镇罗镇', '宣和镇', '永康镇', '常乐镇', '兴仁镇', '香山乡', '蒿川乡'];//沙坡头区
countryList[4][1] = ['宁安镇', '鸣沙镇', '石空镇', '新堡镇', '恩和镇', '舟塔乡', '白马乡', '余丁乡', '大战场乡', '喊叫水乡', '徐套乡'];//中宁县
countryList[4][2] = ['三河镇', '西安镇', '李旺镇', '贾塘乡', '曹洼乡', '郑旗乡', '高崖乡', '关桥乡', '李俊乡', '树台乡', '九彩乡', '关庄乡', '红羊乡', '史店乡', '罗山乡', '高台乡', '杨明乡'];//海原县

//作物信息
let cropList = ['玉米','水稻','枸杞'];
let breedList = [];
breedList[0] = ['保玉1号','苏玉31','中糯1号'];
breedList[1] = ['旱优73','宁粳4号','宁粳1号'];
breedList[2] = ['中华枸杞','北方枸杞','宁夏枸杞'];

//获取select元素
let provSelects = document.getElementsByClassName('prov');
let citySelects = document.getElementsByClassName('city');
let countrySelects = document.getElementsByClassName('country');
let cropsSelects = document.getElementsByClassName('crops');
let breedsSelects  = document.getElementsByClassName('breeds');

//作物信息添加
for(let i=0;i<cropsSelects.length;i++) {
cropList.forEach(function(val, index){
        cropsSelects[i].add(new Option(val, index));

});
    cropsSelects[i].onchange = function () {
        let index = this.value;
        breedsSelects[i].length = 0;
        breedList[index].forEach(function (val, index) {
            breedsSelects[i].add(new Option(val, index));
        })
    };
}


for(let i=0;i<citySelects.length;i++) {
    //把省的信息 添加到第一个select元素中
    provList.forEach(function(val, index){
        //DOM操作  了解
        provSelects[i].add(new Option(val, index));

    });

    let index1;
    //给第一个select绑定change事件
    provSelects[i].onchange = function () {
        //获取 当前的选项
        index1 = this.value;

        //清空第二个select原先内容
        citySelects[i].length = 0;

        //选择对应的城市列表，添加到第二个select
        cityList[index1].forEach(function (val, index) {
            citySelects[i].add(new Option(val, index));
        })
    };


    citySelects[i].onchange = function () {
        let index = this.value;
        countrySelects[i].length = 0;
        countryList[index1][index].forEach(function (val, index) {
            countrySelects[i].add(new Option(val, index));
        })
    };

    //手工触发一次 change事件
    provSelects[i].onchange();
    citySelects[i].onchange();
}
for(let i=0;i<cropsSelects.length;i++) {
    cropsSelects[i].onchange();
}
</script>
<!--bootstrap的js文件-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>