<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出错啦</title>
</head>
<body style="background: linear-gradient(to right,lightgoldenrodyellow,lightgray,lightpink)">
    <h1 style="font: 700 80px Arial;width: 100%;text-align: center;color: lightcoral">404</h1>
    <P style="font: 700 24px Arial;width: 100%;text-align: center;color: lightseagreen">非常抱歉，系统开了个小差，请尝试→<a href="/" style="text-decoration: chocolate;color: white">返回登陆页面</a></P>
    <P style="font: 700 24px Arial;width: 100%;text-align: center;color: lightseagreen">😣😣😣😣😣😣</P>
    <P style="font: 700 24px Arial;width: 100%;text-align: center;color: lightseagreen">😢😢😢😢😢😢</P>
</body>
</html>