<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/x-icon" href="img/ari-logo.png"/>
<head>
    <meta charset="UTF-8">
    <title>一体化智能农业平台</title>
    <link rel="stylesheet" type="text/css" href="CSS/my-css.css">
    <script type="text/javascript" src="JS/my-js.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<!-- 首先设置导航栏 -->
<div id="top-logo">
    <div class="logo">
        <img src="img/ari-logo.png" alt="加载失败">
        <b>农业一体化智能平台</b>
    </div>
    <div class="nav_span">
        <ul id="nav-list">
            <li th:style="${session.userName==null}?'display:block;':'display:none;'" class="nav first">请&nbsp;<a href="/login" style="color: chocolate">登陆</a>&nbsp;或&nbsp;<a href="/register" style="color: chocolate">注册</a></li>
            <li th:style="${session.userName==null}?'display:none;':'display:block;'" class="nav first" ><span>欢迎您&nbsp;</span><span style="color: chocolate" th:text="${session.userName}"></span></li>
            <li th:style="${session.userName==null}?'display:none;':'display:block;'" class="nav" ><a href="/logout" style="color: #005cbf">注销</a></li>
            <li class="nav"><a href="/collect">收藏</a></li>
            <li class="nav"><a href="#">消息&nbsp;</a><span th:if="${not #strings.isEmpty(session.userMsg)}" th:text="${session.userMsg}" class="badge badge-info"></span></li>
            <li class="nav end"><a href="#">反馈</a></li>
        </ul>
    </div>
</div>
<!--bootstrap引用导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin: 0">
            <li class="nav-item">
                <a class="nav-link"  href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/collect">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myField">
                    我的田
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reco">
                    专家推荐
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" href="http://127.0.0.1:1026/test">
                    智能推荐
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/firstIntoHistory">
                    历史记录
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin: 0">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="vertical-align:revert">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" clip-rule="evenodd"/>
                </svg></button>
        </form>
    </div>
</nav>


<!--滚动展板区-->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/tmp1489123206_1223223_s.jpg"  class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/tmp1481097457_1223223_s.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/tmp1495703201_1223223_s.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--小工具栏-->
<section id="tools-section">
    <div class="divide1">
        <img src="img/tool-icon.png" alt="">
        <p style="margin-left: 10px">实用功能</p>
        <hr/>
    </div>
    <ul id="function">
        <li class="tools" id="nutrition"><a href="#"><img src="img/nutrition.png" alt=""><br/>营养诊断</a></li>
        <li class="tools" id="paddy"><a href="#"><img src="img/paddy1.png" alt=""><br/>水稻病害诊断</a></li>
        <li class="tools" id="knowledge"><a href="#"><img src="img/knowledge.png" alt=""><br/>知识检索</a></li>
        <li class="tools" id="question-platform"><a href="#"><img src="img/question.png" alt=""><br/>智能问答</a></li>
        <li class="tools" id="evaluate-margin"><a href="/jump"><img src="img/margin.png" alt=""><br/>效益估算</a></li>
        <li class="tools" id="profession"><a href="/collect"><img src="img/zhuanjia1.png" alt=""><br/>专家答疑</a></li>
        <li class="tools" id="trade-platform"><a th:href="@{/dealLobby/index2(name=${session.userName})}"><img src="img/trade.png" alt=""><br/>交易大厅</a></li>
        <li class="tools" id="ai-recommendation"><a href="#"><img src="img/rec.png" alt=""><br/>智能推荐</a></li>
    </ul>
</section>
<!--消息区-->
<section id="advertise">
    <div class="divide1">
        <img src="img/tool-icon.png" alt="">
        <p style="margin-left: 10px">最新产品</p>
        <hr/>
    </div>
    <ul class="ad-content" th:each="indexProduct:${indexProducts}" style="text-align: center;font: 500 17px Arial, sans-serif">
        <li class="ad-p"  ><a th:href="${indexProduct.pro_id}"><img th:src="${indexProduct.pro_img}" src="img2/fu_yuan.jfif" alt=""><p th:text="${indexProduct.pro_name}">富源四号</p></a></li>
<!--        <li class="ad-p"><a href=""><span style="width: 100px">更多>></span></a></li>-->
        <!--li class="ad-p"><img src="img2/fu_yuan.jpg" alt=""></li>
        <li class="ad-p"><img src="img2/fu_yuan.jpg" alt=""></li-->
    </ul>
</section>
<!--推送区-->
<section id="mess-ad">
    <div class="divide3">
        <img src="img/tool-icon.png" alt="">
        <p>农业信息</p>
        <hr/>
    </div>
    <div class="tabArticleList01" id="tab01">
        <ul class="tabMenu01" >
            <li class="tab-tag news" onmouseover="trans(0)"><a href="javascript:void(0);">种子</a></li>
            <li class="tab-tag" onmouseover="trans(1)"><a href="javascript:void(0);">农时</a></li>
            <li class="tab-tag" onmouseover="trans(2)"><a href="javascript:void(0);">农资</a></li>
            <li class="tab-tag" onmouseover="trans(3)"><a href="javascript:void(0);">农技</a></li>
            <li class="tab-tag" onmouseover="trans(4)"><a href="javascript:void(0);">政策</a></li>
            <!--li class="tab-tag" onmouseover="trans(5)"><a href="javascript:void(0);">党政工作</a></li>
            <li class="tab-tag" onmouseover="trans(6)"><a href="javascript:void(0);">专家观点</a></li>
            <li class="tab-tag active" onmouseover="trans(7)"><a href="javascript:void(0);">媒体报道</a></li-->
        </ul>
        <dl class="tabList01">
            <!--        第一模块-->
            <dd class="dd01" id="dd0" style="display: block;">
                <ul class="ddList00"  th:each="info1:${indexInfo}">
                    <li th:if="${info1.info_type}==1">
                        <a href="#" th:href="${info1.info_id}" th:text="${info1.info_name}" target="_blank">[Xinhua]China launches comprehensive d...
                        </a>
                    </li>
                </ul>
            </dd>
            <!--        第二模块-->
            <dd class="dd01" id="dd1" style="display: none;">
                <ul class="ddList00"  th:each="info2:${indexInfo}">
                    <li th:if="${info2.info_type}==2">
                        <a href="#" th:href="${info2.info_id}" th:text="${info2.info_name}" target="_blank">[Xinhua]China launches comprehensive d...
                        </a>
                    </li>
                </ul>
            </dd>
            <!--        第三模块-->
            <dd class="dd01" id="dd2" style="display: none;">
                <ul class="ddList00"  th:each="info3:${indexInfo}">
                    <li  th:if="${info3.info_type}==3">
                        <a href="#" th:href="${info3.info_id}" th:text="${info3.info_name}" target="_blank">[Xinhua]China launches comprehensive d...
                        </a>
                    </li>
                </ul>
            </dd>
            <!--        第四模块-->
            <dd class="dd01" id="dd3" style="display: none;">
                <ul class="ddList00"  th:each="info4:${indexInfo}">
                    <li th:if="${info4.info_type}==4">
                        <a href="#"  th:href="${info4.info_id}" th:text="${info4.info_name}" target="_blank">[Xinhua]China launches comprehensive d...
                        </a>
                    </li>
                </ul>
            </dd>
            <!--        第五模块-->
            <dd class="dd01" id="dd4" style="display: none;">
                <ul class="ddList00"  th:each="info5:${indexInfo}">
                    <li th:if="${info5.info_type}==5">
                        <a href="#" th:href="${info5.info_id}" th:text="${info5.info_name}" target="_blank">[Xinhua]China launches comprehensive d...
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</section>
<!--页脚-->
<footer>
    <div id="address">
        <p>
            COPYRIGHT©大数据集成与可视化团队<br/><br/>
            联系邮箱110@nun.edu.cn<br/><br/>
            建议使用chrome，firefox或者IE&nbsp;11以上浏览器
            <span><br/>技术支持 : 大数据团队</span>
        </p>
    </div>
    <div id="poster">
        <a href="#">
            <img src="img/data-logo.png" alt="" style="width: 160px;height: 120px">
            <p style="float: right;padding: 10px 0 0 10px">&nbsp;大<br/>&nbsp;数<br/>&nbsp;据<br/>&nbsp;团<br/>&nbsp;队<br/></p>
        </a>
    </div>
    <div id="return-top">
        <a href="#">
            <img src="img/jiantou.png" alt="">
            <span>返回顶部</span>
        </a>
    </div>
</footer>
</body>
</html>