<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:if="${session.banana.equals('apple')}" style="color: #005cbf" th:text="${session.banana}">1111</p>
    <p th:if="${session.banana.equals('banana')}" style="color: #00d0d4" th:text="${session.banana}">2222</p>
    <div th:each="List:${session.tLists}" th:if="${!List.getName().equals('apple')}">
        <span th:text="${List.getNum()}"></span>
        <span th:text="${List.getName()}"></span>
        <span th:text="${List.getValue()}"></span>
        <p></p>
    </div>

<!--    <span th:text="${session.test1num}">333</span>-->
<!--    <span th:text="${session.test1list.get(0)}"></span>-->
<!--    <p th:each="List:${session.test1list} "><span th:text="${List}">3345</span>123</p>-->
<!--                  String a[3]                          a[0]-->
<!--                  Student a[n]                         student     student.getseed()-->
</body>
</html>