<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/x-icon" href="img/ari-logo.png"/>
<head>
    <meta charset="UTF-8">
    <title>我的田</title>
    <link rel="stylesheet" type="text/css" href="CSS/otherCollection.css">
    <script type="text/javascript" src="JS/my-js.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="asserts/css/dashboard.css" rel="stylesheet">
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
        #l-map{height:300px;width:100%;}
        #r-result{width:100%;}
        #r-result b{height: auto;}
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=WZpXju2om1G7NL6QlnxNuZGX6G4eEq5G"></script>
</head>
<body>

<!--因为本人技术限制，现在所有下拉框以及主产品展示框的唤醒都是通过id来定位的，所以请注意id命名的规范-->
<!--下拉框：id一致-->
<!--主界面唤醒：唤醒id=触发id + main-->


<!--logo-->
<div id="top-logo">
    <div class="logo">
        <img src="img/ari-logo.png" alt="加载失败">
        <b>农业一体化智能平台</b>
    </div>
    <div class="nav_span" style="width: auto">
        <ul id="nav-list">
            <li th:style="${session.userName==null}?'display:block;':'display:none;'" class="nav first">请&nbsp;<a href="/login" style="color: chocolate">登陆</a>&nbsp;或&nbsp;<a href="/register" style="color: chocolate">注册</a></li>
            <li th:style="${session.userName==null}?'display:none;':'display:block;'" class="nav first" ><span>欢迎您&nbsp;</span><span style="color: chocolate" th:text="${session.userName}"></span></li>
            <li th:style="${session.userName==null}?'display:none;':'display:block;'" class="nav" ><a href="/logout" style="color: #005cbf">注销</a></li>
            <li class="nav"><a href="/collect">收藏</a></li>
            <li class="nav"><a href="#">消息&nbsp;</a><span th:if="${not #strings.isEmpty(session.userMsg)}" th:text="${session.userMsg}" class="badge badge-info"></span></li>
            <li class="nav end"><a href="#">反馈</a></li>
        </ul>
    </div>
</div>

<!--最上方导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin: 0">
            <li class="nav-item">
                <a class="nav-link"  href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/collect">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myField">
                    我的田
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reco">
                    专家推荐
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" href="http://127.0.0.1:1026/index">
                    智能推荐
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin: 0">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="vertical-align:revert">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" clip-rule="evenodd"/>
                </svg></button>
        </form>
    </div>
</nav>

<!--侧栏和主区域-->
<div class="container-fluid">
    <div class="row">
        <!--左侧功能框-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="float: left">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <!--田的管理-->
                    <li class="nav-item">
                        <a class="nav-link active" id="main" onclick="show(this)" href="#">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="feather" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                                <path fill-rule="evenodd" d="M2 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            田的管理
                        </a>
                    </li>
                    <!--田间管理-->
                    <li class="nav-item">
                        <a class="nav-link" id="manger" href="/myFieldReco">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="feather" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                            </svg>
                            田间管理
                        </a>
                    </li>
                    <!--投产估算-->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="evaluation" onclick="show(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            我的估算
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--        主内容页面-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!--田间信息界面-->
            <div class="main-context" id="mainmain" style="display: block;overflow: auto">
                <!--左侧框-->
                <div style="width: 14%;background: wheat;float: right;margin-top: 10px;text-align: center;font: 400 15px Arial;padding: 10px 0 15px 0;">
                    <div  style="width: 100%;text-align: center;background:wheat;">
                        <div style="border-radius: 100%;overflow: hidden;border: 4px #fff solid;box-shadow: rgba(1,1,1,0.5) 3px 2px 10px 0;width: 100px;text-align: center;margin: 10px auto">
                            <img src="img/profile1.jpg" class="card-img-top" alt="profile" style="width: 100px">
                        </div>
                        <span style="font: 700 18px/20px Arial;color: white;margin-bottom: 12px" th:text="${session.userName}">臭弟弟</span>
                        <hr/>
                        <div>
                            <p>您可以自主选择位置</p>
                            <div id="r-result">请输入:<input type="text" id="suggestId" size="20" value="百度" style="width:130px;border-radius: 7px;box-shadow: none" /></div>
                        </div>
                    </div>
                </div>
                <!--没有田间信息的提醒-->
                <div th:if="${user.getUser_fieldacres()==null&&user.getUser_fieldacres()==0||user.getUser_fieldacres()==0}" style="background: wheat;width: 84%;height: 80px;margin-top: 10px;overflow: auto">
                    <p style="font: 700 18px/20px Arial;color: rgba(43,43,43,0.62);height: 20px;margin: 25px 0 0 15px">您还没有田的信息，<a style="" href="/alter">点击此处</a>完善信息</p>
                </div>
                <!--田的展示-->
                <div th:if="${user.getUser_fieldacres()!=null&&user.getUser_fieldacres()!=0||user.getUser_fieldacres()!=0}" style="background: lightgoldenrodyellow;width: 84%;margin-top: 10px;overflow: auto;padding: 19px 10px">
                    <a class="btn btn-outline-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#exampleModal">添加信息</a>
                    <p style="font: 700 18px/20px Arial;">位于<span style="color: chocolate" th:text="${user.getUser_fieldadress()}">西夏区朔方路112号</span>田共有<span style="color: chocolate" th:text="${user.getUser_fieldacres()}">50</span>亩，其中作物有<span style="color: chocolate" th:text="${fieldList.size()}">1</span>种</p>
                    <hr/>
                    <div th:each="userFieldInfos:${fieldList}">
                        <span style="padding: 5px 20px;font: 400 16px Arial, sans-serif">作物类型：<span style="color: chocolate" th:text="${userFieldInfos.getUser_cropstype()}">水稻</span>&nbsp;&nbsp;名称：<span th:text="${userFieldInfos.getUser_cropsname()}" style="color: chocolate">宁粳一号</span>&nbsp;&nbsp;占地<span th:text="${userFieldInfos.getUser_cropsacres()}" style="color: chocolate">10</span>亩</span>
                        <button class="btn btn-outline-danger btn-sm" th:value="${userFieldInfos.getUser_cropsname()}" onclick="alert(this)" style="float: right">删除</button>
                        <hr/>
                    </div>
                </div>
                <form style="display: none" id="deleteForm" action="/deleteFieldInfo" method="post">
                    <input name="cropsName" id="deleteInput">
                </form>
                <!--附近商点-->
                <div class="position-relative" style="float: left; margin-top: 18px;border-bottom: rgba(1,1,1,0.2) 1px solid;width: 84%;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19)">
                    <p style="font: 700 18px/20px Arial;color: rgba(43,43,43,0.8)">您的附近的种子公司</p>
                    <div id="l-map"></div>
                    <div id="l-result"></div>
                    <div id="l-name"></div>
                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                    <br><br>
                </div>
                <!---->
            </div>

            <!--附近商点-->
            <div class="main-context" id="marketmain" style="display: none;overflow: auto">
                <!--左侧框-->
                <div style="width: 14%;background: wheat;float: right;margin-top: 10px;text-align: center;font: 400 15px Arial;padding: 10px 0 0 0">
                    <div  style="width: 100%;text-align: center;background:wheat;">
                        <div style="border-radius: 100%;overflow: hidden;border: 4px #fff solid;box-shadow: rgba(1,1,1,0.5) 3px 2px 10px 0;width: 100px;text-align: center;margin: 10px auto">
                            <img src="img/profile1.jpg" class="card-img-top" alt="profile" style="width: 100px">
                        </div>
                        <span style="font: 700 18px/20px Arial;color: white;margin-bottom: 12px">臭弟弟</span>
                    </div>
                    <div class="card-body" style="margin: 0;background: wheat;">
                        <p class="card-text" style="font: 600 16px/20px Arial;color: rgba(43,43,43,0.8);float: left;width: 100%">您现在位于&nbsp;</p>
                        <p style="font: 600 16px/20px Arial;color: chocolate">朔方路街道112号</p>
                        <a  type="button" data-toggle="modal" data-target="#locationChoose"  class="btn btn-warning btn-sm" style="float:top;">切换地区</a>
                    </div>
                </div>

            </div>
            <!--估算-->
            <div class="main-context" id="evaluationmain" style="display: none;overflow: auto">
                <!--预测-->
                <div class="position-relative" style="float: left; margin-top: 18px;border-bottom: rgba(1,1,1,0.2) 1px solid;width: 90%;background: lightgoldenrodyellow;overflow: auto">
                    <!--选择作物-->
                    <div style="font: 400 18px/20px Arial;color: darkslategrey;margin: 25px 0 0 25px;float: left;height: 40px;width: 90%">
                        <div class="input-group mb-3" style="float: left;width: 50%">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">选择预测作物</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>请选择</option>
                                <option value="1" onclick="forecastPrice(0)">宁粳43号</option>
                                <option value="2" onclick="forecastPrice(1)">宁粳41号</option>
                            </select>
                        </div>
                        <div  style="float: left;margin-left: 10px;line-height: 40px">预测价格为<span id="forecast-price" style="color:chocolate;">未选择</span>元/斤</div>
                    </div>
                    <!--价格输入-->
                    <div class="input-group mb-3"  style="width: 50%;margin-top: 80px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="margin-left: 25px">肥药花费</span>
                    </div>
                    <input type="text" class="form-control" placeholder="具体价格 0.00" aria-label="detail-area" aria-describedby="button-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text">元</span>
                    </div>
                </div>
                    <div class="input-group mb-3"  style="width: 50%;margin-top: 15px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="margin-left: 25px">水电花费</span>
                        </div>
                        <input type="text" class="form-control" placeholder="具体价格 0.00" aria-label="detail-area" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <span class="input-group-text">元</span>
                        </div>
                    </div>
                    <div class="input-group mb-3"  style="width: 50%;margin-top: 15px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="margin-left: 25px">人工花费</span>
                        </div>
                        <input type="text" class="form-control" placeholder="具体价格 0.00" aria-label="detail-area" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <span class="input-group-text">元</span>
                        </div>
                    </div>
                    <div class="input-group mb-3"  style="width: 50%;margin-top: 15px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="margin-left: 25px">种子花费</span>
                        </div>
                        <input type="text" class="form-control" placeholder="具体价格 0.00" aria-label="detail-area" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <span class="input-group-text">元</span>
                        </div>
                    </div>
                    <div  style="font: 700 18px/20px Arial;margin-left: 30px;line-height: 40px">预测收益为<span id="sum-price" style="color:chocolate;">2000</span>元</div>
                    <!--提交和重置按钮-->
                    <div style="width: 30%;margin-left: 35%;text-align: center;margin-top:20px;margin-bottom: 20px">
                        <div id="res-sub-button">
                            <button type="submit" class="btn btn-secondary">提交</button>
                            <button class="btn btn-secondary" type="reset" value="Reset" style="margin-left:15%">重置</button>
                        </div>
                    </div>
                </div>
                <!--星级评价-->
                <div  class="position-relative" style="float: left; margin-top: 18px;border-bottom: rgba(1,1,1,0.2) 1px solid;width: 90%;">
                    <span style="height: 30px;line-height: 30px;font: 500 20px Arial, sans-serif;margin-right: 10px">您的评价</span>
                    <!--第1个星星-->
                    <a href="javascript:void(0)" class="stars" style="height: 35px" onclick="stars(1)">
                        <svg style="padding-bottom: 5px" width="28px" height="28px" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    <!--第2个星星-->
                    <a href="javascript:void(0)" class="stars" style="height: 35px" onclick="stars(2)">
                        <svg style="padding-bottom: 5px" width="28px" height="28px" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    <!--第3个星星-->
                    <a href="javascript:void(0)" class="stars" style="height: 35px" onclick="stars(3)">
                        <svg style="padding-bottom: 5px" width="28px" height="28px" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    <!--第4个星星-->
                    <a href="javascript:void(0)" class="stars" style="height: 35px" onclick="stars(4)">
                        <svg style="padding-bottom: 5px" width="28px" height="28px" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    <!--第5个星星-->
                    <a href="javascript:void(0)" class="stars" style="height: 35px" onclick="stars(5)">
                        <svg style="padding-bottom: 5px" width="28px" height="28px" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                </div>
                <!--内容评价-->
                <div  class="position-relative" style="float: left; margin-top: 18px;border-bottom: rgba(1,1,1,0.2) 1px solid;width: 90%;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">您的建议</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                        <button class="btn btn-info btn-sm" style="float: right">提交</button>
                    </div>
                </div>
            </div>
        </main>
        <!-- - - - - - - - - - -->
    </div>
</div>

<!-- 选择地区的模态框 -->
<div class="modal fade" id="locationChoose" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 750px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationModalLabel">选择地区</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">我的位置</span>
                        <select aria-label="province" class="btn btn-outline-secondary prov" type="button">Button</select>
                        <select aria-label="city" class="btn btn-outline-secondary city" type="button">Button</select>
                        <select aria-label="country" class="btn btn-outline-secondary country" type="button">Button</select>
                    </div>
                    <input type="text" class="form-control" placeholder="具体位置" aria-label="detail-road" aria-describedby="button-addon3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 田间信息的模态框 -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="max-width: 750px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">作物信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/registerCropFurther}" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">具体作物</span>
                        <!--选择作物类别-->
                        <select aria-label="country" class="btn btn-outline-secondary crops" name="CropType" type="button">Button
                            <!--枸杞，葡萄，向日葵,水稻，玉米，小麦，大豆,马铃薯-->
                            <option onclick="showSelect('gq')" th:if="${wolfBerry!=null&&!wolfBerry.isEmpty()}">枸杞</option>
                            <option onclick="showSelect('sd')" th:if="${paddyRice!=null&&!paddyRice.isEmpty()}">水稻</option>
                            <option onclick="showSelect('pt')" th:if="${purple!=null&&!purple.isEmpty()}">葡萄</option>
                            <option onclick="showSelect('ym')" th:if="${corn!=null&&!corn.isEmpty()}">玉米</option>
                            <option onclick="showSelect('dd')" th:if="${soybean!=null&&!soybean.isEmpty()}">大豆</option>
                            <option onclick="showSelect('mls')" th:if="${potato!=null&&!potato.isEmpty()}">马铃薯</option>
                            <option onclick="showSelect('xrk')" th:if="${sunflower!=null&&!sunflower.isEmpty()}">向日葵</option>
                            <option onclick="showSelect('xm')" th:if="${wheat!=null&&!wheat.isEmpty()}">小麦</option>
                        </select>
                        <!--这下面都是名称-->
                        <!--枸杞-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="gq"
                                style="display: block" type="button">
                            <option  th:if="${wolfBerry!=null}"
                                     th:each="cropsName:${wolfBerry}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--葡萄-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="pt"
                                style="display: none" type="button">
                            <option  th:if="${purple!=null}"
                                     th:each="cropsName:${purple}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--向日葵-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="xrk"
                                style="display: none" type="button">
                            <option  th:if="${sunflower!=null}" th:each="cropsName:${sunflower}"
                                     th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--水稻-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="sd"
                                style="display: none" type="button">
                            <option th:if="${paddyRice!=null}"
                                    th:each="cropsName:${paddyRice}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--玉米-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="ym"
                                style="display: none" type="button">
                            <option  th:if="${corn!=null}"
                                     th:each="cropsName:${corn}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--小麦-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="xm"
                                style="display: none" type="button">
                            <option  th:if="${wheat!=null}"
                                     th:each="cropsName:${wheat}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--大豆-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="dd"
                                style="display: none" type="button">
                            <option  th:if="${soybean!=null}"
                                     th:each="cropsName:${soybean}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <!--马铃薯-->
                        <select aria-label="country" class="btn btn-outline-secondary breeds" id="mls"
                                style="display: none" type="button">
                            <option th:if="${potato!=null}"
                                    th:each="cropsName:${potato}" th:value="${cropsName}" th:text="${cropsName}">宁夏枸杞</option>
                        </select>
                        <span class="input-group-text" style="margin-left: 25px">田的面积</span>
                    </div>
                    <input type="text" class="form-control" placeholder="具体面积" name="CropAcres" aria-label="detail-area" aria-describedby="button-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text">亩</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--弹窗，并提示是否删除-->
<script>
    window.alert=function (object) {
        const cropsName = object.getAttribute("value");
        var shield = document.createElement("DIV");
        shield.id = "shield";
        shield.style.position = "absolute";
        shield.style.left = "40%";
        shield.style.top = "40%";
        shield.style.width = "250px";

        shield.style.background = "#fff";
        shield.style.textAlign = "center";
        shield.style.zIndex = "299";

        var alertFram = document.createElement("DIV");
        alertFram.id="alertFram";
        alertFram.style.position = "absolute";
        alertFram.style.left = "40%";
        alertFram.style.top = "40%";
        alertFram.style.width="250px";
        alertFram.style.background = "#fff";
        alertFram.style.borderRadius = "8px";


        //
        strHtml = "<div style=\"width:100%;border-radius: 8px;padding: 5px 20px\">\n";
        strHtml += "<p style='font: 500 18px Arial, sans-serif;color: chocolate'>您确定删除"+cropsName+"吗？</p>\n";
        strHtml += "<hr style=\"margin: 10px 0 20px 0\">\n";
        strHtml += " <button class='btn btn-warning btn-sm' style=\"margin-left: 20%\" onclick='f()'>确定</button>";
        strHtml += " <button class='btn btn-primary btn-sm' onclick='doOk()'>关闭</button>";
        strHtml += "</div>\n";
        alertFram.innerHTML = strHtml;
        document.body.appendChild(alertFram);
        document.body.appendChild(shield);
        this.doOk = function(){
            alertFram.style.display = "none";
            shield.style.display = "none";
        }
        this.f = function() {
            const tagForm = document.getElementById("deleteForm");
            const tagInput = document.getElementById("deleteInput");
            tagInput.setAttribute("value",cropsName);
            tagForm.submit();
            alertFram.style.display = "none";
            shield.style.display = "none";
        }
        alertFram.focus();
        document.body.onselectstart = function(){return false;};
    }

</script>
</body>
<!--作物选择的JS-->
<script>
    function showSelect(name) {
        //所有作物名称的选择框，置为不展示和移除name属性
        const tags = document.getElementsByClassName("breeds");
        for (let i=0;i<tags.length;i++){
            tags[i].style.display = 'none';
            tags[i].removeAttribute("name");
        }
        const tag = document.getElementById(name);
        tag.style.display= 'block';
        tag.setAttribute("name","CropName");
    }
</script>
<!--地区选择的js   ->  不需要了-->

<!--地图选择的js-->
<script type="text/javascript">
    var map = new BMap.Map("l-map");
    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
            var myKeys = ["种子公司"];
            var local = new BMap.LocalSearch(map, {
                renderOptions:{map: map, panel:"l-result"},
                pageCapacity:5
            });
            local.searchInBounds(myKeys, map.getBounds());
        }
        else {
            alert('failed'+this.getStatus());
        }
    },{enableHighAccuracy: true})
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }
    // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {"input" : "suggestId"
            ,"location" : map
        });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            var mk = new BMap.Marker(pp);
            map.addOverlay(mk);
            map.centerAndZoom(pp, 12);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
            var myKeys = ["种子公司"];
            var local1 = new BMap.LocalSearch(map, {
                renderOptions:{map: map, panel:"l-result"},
                pageCapacity:5
            });
            local1.searchInBounds(myKeys, map.getBounds());
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }
    // //自己测试的
    // function bond(map) {
    //
    //
    // }
</script>


<!--添加日期的js-->
<script>
    window.onload = function() {
        const date = new Date();
        const year = date.getFullYear();// 年
        const month = date.getMonth() + 1; // 月
        const day  = date.getDate(); // 日

        document.getElementById("datetime").innerHTML = year + "年" + month + "月" + day + "日";
    }
</script>
<!--星级点评JS-->
<script>
    function stars(num) {
        const tags = document.getElementsByClassName("stars");
        for(let i=0;i<num;i++){
            tags[i].innerHTML = "<svg width=\"28px\" style=\"padding-bottom: 5px\" height=\"28px\" viewBox=\"0 0 16 16\" class=\"bi bi-star-fill\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                "  <path d=\"M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z\"/>\n" +
                "</svg>";
        }
    }
</script>
<!--预测价格JS-->
<script>
    function forecastPrice(num) {
        const prices = [10,20];
        const tag = document.getElementById("forecast-price");
        tag.innerHTML = prices[num].toString();
    }
</script>
</html>